{
    debug
    auto_https off
    ocsp_stapling off
}

:8443 {
    tls /certs/test.crt /certs/test.key {
        client_auth {
            mode                   require_and_verify
            trusted_ca_cert_file   /certs/trust.pem
        }
    }

    handle /greeting-service/* {
        reverse_proxy http://greeting-service:8080
    }

    handle {
        # set this for the path to static error page content
        # look at what the nginx config is setting for this
        root * /var/www
        file_server
    }

    handle_errors {
        root * /var/www
        @custom_err file /errors/err-{err.status_code}.html /errors/err.html
        handle @custom_err {
            rewrite * {file_match.relative}
            file_server
        }
        respond "{err.status_code} {err.status_text}"
    }
}
